{% extends "index.html" %}
{% block head %}
{{ super() }}
<link href="../static/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="../static/font-awesome.css" rel="stylesheet">
<link href="../static/build.css" rel = "stylesheet">
<link href="../static/magic-check.css" rel="stylesheet">

  <title>List Page </title>
{% endblock %}

{% block navbar %}
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Grocery Check</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html"> Home</a></li>

            <li class ="active"><a href="#about">Grocery</a></li>
            <li><a href="#contact">Pantry</a></li>
          </ul>
          <ul class = "nav navbar-nav navbar-right settings-button-right">
            <a href="#settings" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-cog"></span> Settings</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}
{%block page_title %}

<div class="container">

      <div class="starter-template">
        <h1> {{glistname}} </h1>
        <!--p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
      </div>

    </div><!-- /.container -->
{%endblock%}
{%block grocery%}
<div class="col-lg-10">
<ul class="checkbox list-group checked-list-box">
          {% for items in glist %}
          <input type="hidden" name="item" value="{{ items}}" > 
          <li class="list-group-item" name ="check"> {{ items }}</li>
     
        {% endfor %}
        </ul>
      </div>
      <div class="col-lg-2">
         <a href="AddItem.html" class="btn btn-success margin-bottom-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add List Item</a>
         
         <form action = "" method = "post" novalidate>
          <button type = "submit" class="btn btn-info" data-target="#DeleteList" name = "delete" value = "deleteitem"><span class="glyphicon glyphicon-minus"></span> Delete Item</button>
          <button type = "submit" class="btn btn-danger" data-target="#DeleteList" name = "delete" value = "deletelist"><span class="glyphicon glyphicon-minus"></span> Delete List</button>

        </form>
    </div>




       <!-- <ul class="checkbox list-group checked-list-box">
          {% for items in glist %}
          <li class="list-group-item" name ="check" value="{{items}}"> {{ items }}</li>
     
        {% endfor %}
        </ul>
      </div>
      <div class="col-lg-2">
         <a href="AddItem.html" class="btn btn-success margin-bottom-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add List</a>
         
         <form action = "" method = "post" novalidate>
          <button type = "submit" class="btn btn-info" data-target="#DeleteList" name = "delete" value = "deleteitem"><span class="glyphicon glyphicon-minus"></span> Delete Item</button>
          <button type = "submit" class="btn btn-danger" data-target="#DeleteList" name = "delete" value = "deletelist"><span class="glyphicon glyphicon-minus"></span> Delete List</button>

        </form>
    </div>-->
  
{% endblock %}
{% block js_footer %}
  {{ super() }}
{% endblock %}